@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&family=Work+Sans:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.splash
{
	font-size: 40px;
	left: 0;
	top: 0;
	text-align: center;
	z-index: 200;
	line-height: 80vh;
	height: 90vh
}

.splash.display-none
{
	opacity: 0;
	font-size: 40px;
	left: 0;
	top: 0;
	text-align: center;
	line-height: 80vh;
	z-index: -10;
	transition: all 0.5s;
}

@keyframes fadeIn
{
	to
	{
       opacity: 1;
    }
}

.fade-in
{
	opacity: 0;
	animation: fadeIn 1s ease-in forwards;
}

.main-logo
{
    color: #4d84e2;
    font-size: 28px;
    font-weight: 800;
	font-family: 'Train One', cursive;
	cursor: pointer;
}


